.view-cont{
    padding: 30px !important;
    display: flex;
    justify-content: center;
}

.view-cont h2{
    margin: 0;
    padding: 3px;
}

.view-cont p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.float-right{
    text-align: right;
}

.view-wrapper{
    padding: 10px;
}


.item-wrapper, .purpose-cont{
    padding: 10px;
    border-radius: 10px;

}

.item-wrapper{
    margin: 10px 0;
}

.item-wrapper h6{
    font-size: 18px;
    color: #000;
    margin: 0;
}

.item-wrapper p, .purpose-cont p{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 3px;
    margin: 0;
}

.purpose-cont h6{
    font-size: 24px;
}

/* statement */

.cert-wrapper{
    padding: 20px 50px;
    background-color: #fff;
}

.logo img{
    width: 100px;
    height: 40px;
    margin: 10px 0;
}

.cert-info h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.cert-info p{
    text-align: center;
}

.btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-cont button{
    background: maroon;
    color: #fff;
    border: 1px solid gray;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0 auto;
}

@media (max-width: 599px){
    .cert-wrapper{
        padding: 20px;
    }
    .cert-info h4{
        font-size: 18px;
    }

    .cert-info p{
        font-size: 14px;
    }
}
