.view-cont{
    display: flex;
    justify-content: center;
}

.view-cont h2{
    margin: 0;
    padding: 3px;
}

.view-cont p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.float-right{
    text-align: right;
}

.col-item{
    padding: 0;
    padding-left: 5px;
}

.item-wrapper, .purpose-cont{
    padding: 10px 20px;
}

.item-wrapper{
    margin-bottom: 5px;
}

.item-wrapper h6{
    font-size: 16px;
    color: #000;
    margin: 0;
    transition: 0.4s ease-out;
}

.item-wrapper h6:hover{
    color: #ea710f;
    text-decoration: underline;
}

.item-wrapper p, .purpose-cont p{
    font-size: 14px;
    padding: 3px;
    margin: 0;
}

.purpose-cont{
    margin: 0 15px;
}

.purpose-cont h6{
    font-size: 24px;
}

/* statement */

.cert-wrapper{
    padding: 20px 50px;
    background-color: #fff;
}

.logo img{
    width: 100px;
    height: 40px;
    margin: 10px 0;
}

.cert-info h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.cert-info p{
    text-align: center;
}

.btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-cont button{
    background: maroon;
    color: #fff;
    border: 1px solid gray;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0 auto;
}

.no-response{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b2930;
    border-radius: 10px;
    color: #fff;
    padding: 20px 0;
}

.no-response a{
    border: 1px solid #fff;
    padding: 5px 10px;
}

.row-btn{
    display: flex;
    justify-content: center;
}

.col-btn{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.btn-1{
    transition: 0.4s ease-out;
}

.btn-1:hover{
    color: #ea710f;
}

.policy-text{
    font-size: 14px;
    padding: 3px;
}

@media (max-width: 599px){
    .cert-wrapper{
        padding: 20px;
    }
    .cert-info h4{
        font-size: 18px;
    }

    .cert-info p{
        font-size: 14px;
    }
}
