:root{
    --color-main: #9F2232;
}

.account-cont{
    width: 100%;
    height: 100vh;
}

.login-top{
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
}

.top-left{
    flex: 1;
}

.login-logo{
    margin: 50px 0 0 50px;
}

.login-logo img{
    width: 170px;
    height: 80px;
}

.top-right{
    flex: 1;
}

.top-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-bottom{
    height: 40vh;
    background-color: var(--color-main);
    position: relative;
}

.account-row{
    display: flex;
    justify-content: center;
}

.login-wrapper{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: -180px;
    padding: 0;
}

.account-left{
    width: 30%;
    background-color: #3b1b01;
    padding: 20px;
}

.account-left p{
    color: #ea710f;
    font-size: 14px;
}

.account-left h1{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.account-btn{
    background-color: #ea710f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.account-btn:hover{
    color: #fff;
}

.account-right{
    width: 70%;
    padding: 20px 30px;
}

.input-col-2{
    display: flex;
    gap: 10px;
}

.terms{
    display: flex;
    gap: 10px;;
    align-items: center;
}

.terms p{
    margin: auto 0;
    color: #ea710f;
}

.btn-user{
    background-color: #3b1b01;
    width: 200px;
}

.forgot-link{
    cursor: pointer;
}

.forgot-link:hover{
    text-decoration: underline;
}

@media (max-width: 599px){
    .login-top{
        height: 20vh;
    }
    .login-bottom{
        height: 80vh;
    }
    .top-right{
        display: none;
    }

    .login-wrapper{
        flex-wrap: wrap;
        margin-top: -100px;
    }

    .account-left{
        width: 100%;
    }

    .account-right{
        width: 100%;
    }

}



