@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

*{
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: #E8ECF5;
    --color-main: #9F2232;
    --maroon-text: #802537;
    --color-orange: #EF8F42;
}

:link{
    color: unset;
}

a{
    color: unset;
    text-decoration: none;
}

a:hover{
    color: unset;
}

body{
    background-color: var(--bg-color);
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-cont{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: #9bc2e4;
}


.home-wrapper{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.home-wrapper p{
    font-size: 16px;
    max-width: 700px;
    padding: 3px;
    text-align: center;
}
.home h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-wrapper h3{
    font-size: 20px;
}

.home-wrapper h4{
    font-size: 18px;
}


.home button {
    margin-left: 250px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.list {
    margin-top: 0px;
}

.input-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
}

.input-wrapper .input-left{
    flex: 70%;
}

.desc-p{
    font-size: 14px;
    padding: 3px;
}

.input-wrapper .input-right{
    flex: 30%;
}

.btns{
    width: 70%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btns button{
    width: max-content;
    font-size: 16px;
    padding: 5px 10px;
}

.pages-cont{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pages-cont span{
    padding: 10px;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    background-color: gray;
    color: #fff;
    cursor: pointer;
}

.pages-cont .active-span{
    background-color: var(--color-main);
}

/* Header */
.cont{
    width: 100%;
    padding: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.header-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.logo-img{
    flex: calc(200px);
}

.header-content{
    flex: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content h1{
    font-weight: 500;
    text-transform: capitalize;
    padding: 0;
}

.title-hr{
    background-color: #ed808e;
    width: 250px;
    border-radius: 20px;
    height: 3px;
    margin: 0 auto;
    padding: 0;
    margin-top: -3px;
}


.logo-img img{
    width: 140px;
    height: 50px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.title{
    font-size: 24px;
}

.nav-menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu ul li, .nav-link-item{
    padding: 0 10px;
    margin: auto 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-main);
    /* font-weight: 500; */
    font-size: 18px;
    cursor: pointer;
}

.hero-info p{
    max-width: 1000px;
    padding: 5px;
    font-size: 14px;
}

.purpose-questions h4{
    color: var(--maroon-text);
    font-size: 20px;
    font-weight: 500;
}

.purpose-questions p{
    color: #361b04;
    padding: 3px;
    max-width: 700px;
    font-size: 14px;
}


.questions-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.center{
    display: flex;
    justify-content: center;
}

.center img{
    width: 80%;
    margin: 0 auto;
}

.quiz-item{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    transition: 0.4s ease-out;
}

.quiz-item:hover h6{
    color: #EF8F42;
}

.quiz-item h6{
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s ease-out;
}

.quiz-item span{
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-main);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.right .quiz-item{
    flex-direction: row-reverse;
}

.hero-btns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-btns .button{
    background-color: #d20722;
    color: var(--color-orange);
    text-transform: capitalize;
    padding: 10px;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: 700;
    border-radius: unset;
    width: 300px;
}

.hero-btns .button:hover{
    color: var(--color-orange);
}

.hero-btns .btn-start{
    text-transform: uppercase;
}

@media (max-width: 768.5px){
    .logo-img{
        flex: 40%;
    }

    .logo-img img{
        width: 150px;
        height: 50px;
    }

    .header-content{
        flex: 100%;
        margin-top: 20px;
    }

    .header-content h1{
        font-size: 20px;
    }

    .title-hr{
        width: 200px;
    }

    .questions-wrapper{
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .left .quiz-item{
        flex-direction: row-reverse;
    }

    .hero-btns .button{
        margin: 5px 0;
    }
}
/* Header */

/* Form  */
.form-container{
    padding: 0;
}

.progress-row{
    display: flex;
    margin: 5px 0;
}

.progressbar {
    width: 300px;
    height: 7px;
    background-color: grey;
    padding: 0;
}

.progressbar div {

    width: 33%;
    margin: 0;
    height: 100%;
    background-color: rgb(98, 0, 255);
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-title{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
    font-size: 24px;
}
.form-title span{
        width: 50px;
            height: 50px;
            border: 2px solid var(--color-main);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 24px;
            color: #000;
}

.input-right{
    background-color: var(--color-main);
    color: #fff;
    height: max-content;
}

.input-right ul li{
    font-size: 14px;
}

@media (max-width: 768.5px){

    .input-wrapper{
        flex-direction: column-reverse;
        padding: 20px;
    }

    .input-wrapper .input-left{
        flex: 100%;
    }

    .input-wrapper .input-right{
        flex: 100%;
        margin-bottom: 0;
    }

    .progress-row{
        padding-left: 20px;
    }

    .form-title{
        font-size: 18px;
    }

    .btns{
        width: 100%;
        justify-content: space-around;
    }

    .pages-cont{
        margin-top: 5px;
        margin-bottom: 30px;
    }
}
 /* Form  */

 /* Answers component */
 .answers-row{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
 }

 .answers-left{
    flex: 70%;
 }

 .answers-right{
    flex: 30%;
    background-color: var(--color-main);
    color: #fff;
    height: max-content;
 }

 .answers-header{
    font-size: 16px;
    text-align: center;
 }

 .answers-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 .answers-ul li{
    font-size: 14px;
    padding: 0;
 }

 .answers-ul li h6{
    margin: 0;
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
 }
 
  .answers-ul li h6:hover{
    text-decoration: underline;
  }

 .answers-ul li p{
    padding: 3px;
    margin: 0;
    color: var(--color-orange);
 }

 .purpose-desc-cont p, .desc-item p{
    padding: 3px;
    margin: 0;
    font-size: 14px;
 }

 .purpose-desc-cont p ul, .desc-item p ul, .desc-item ul{
    list-style-type: upper-alpha;
 }

 .purpose-desc-cont strong, .purpose-desc-cont i, .desc-item strong, .desc-item i{
    color: var(--color-orange);
 }

 .desc-item strong{
    font-size: 16px;
    color: var(--color-main);
 }

 .btn-wrapper{
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
 }

 .purpose-guide-p{
    font-size: 16px !important;
    color: var(--maroon-text);
 }

 .util-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
 }

 .btn-submit{
    background-color: var(--color-main);
    width: 200px;
    border: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
 }

 .btn-div{
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
 }

 .btn-div[disabled]{
    cursor: not-allowed;
    background-color: #915454;
 }

 .btn-div h6{
    margin: auto 0;
 }

 .btn-div span{
    display: flex;
    gap: 10px;
    align-items: center;
 }

 .btn-div span h6{
    margin: auto 0 !important;
    font-size: 14px;
 }

 .fa-angle-right{
    /* font-size: 24px; */
    margin: auto 0;
 }

 @media (max-width: 768.5px){
    .answers-row{
        flex-wrap: wrap;
    }

    .answers-left, .answers-right{
        flex: 100%;
    }
 }

 /* Answers component */
